    h1{
        font-family: 'Montserrat';
        font-weight: 900;
        font-size: 104px;
        line-height: 104px;
    }
    h2{
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 48px;
        line-height: 72px;
    }
    h3{
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 32px;
        line-height: 48px;
    }
    h4{
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
    }
    .text-normal{
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
    }
    .text-small{
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
    }
    .text-small-bold{
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
    }